/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  background-attachment: fixed;
  background-image: var(--bg-image);
  font-family: var(--main-font);
}

.header {
  background-color: #fff;
  border: var(--main-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin: 100px 0;
  padding: clamp(7.5rem, 7.079rem + 2.11vw, 8rem) 0;

  @media (width <= 375px) {
    gap: 16px;
  }
}

.header__title {
  font-size: clamp(3.063rem, 2.22rem + 4.21vw, 4.063rem);
  font-weight: var(--text-weight);
  font-family: var(--accent-font);
  text-transform: uppercase;

  @media (width <= 375px) {
    letter-spacing: -2px;
  }
}

.header__subtitle {
  font-weight: var(--text-weight);
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.401rem + 2.37vw, 1.438rem);
  text-transform: uppercase;
  white-space: nowrap;

  @media (width <= 375px) {
    letter-spacing: -1px;
    
  }
}

.img__block {
  position: relative;
}

.brightness__filter {
  filter: brightness(30%);
}

.contrast__filter {
  filter: contrast(20%);
}

.drop__shadow-filter {
  filter: drop-shadow(4px 4px rgb(25, 113, 113));
}

.grayscale__filter {
  filter: grayscale(50%);
}

.invert__filter {
  filter: invert(20%);
}

.saturate__filter {
  filter: saturate(15);
}

.sepia__filter {
  filter: sepia(2);
}

.multi__filter {
  filter: opacity(80%) hue-rotate(180deg);
}

.card__img {
 width: 100%;
 display: block;
 object-fit: contain;
 object-position: center;
}

.text {
  position: absolute;
  color: #000;
  font-size: 14px;
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  text-shadow: 1px 1px #fff;
  mix-blend-mode: hard-light;
  opacity: 0.5;

  @media (width <= 375px) {
    inset-inline-end: 15px;
  }
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .text {
    text-shadow: none;
    -webkit-text-stroke: 1px white;
  }
}

.section__title {
  padding: 4px 10px 6px 10px;
  font-weight: 700;
  background-color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #000;

  @media (width <= 375px) {
    padding: 5px 10px;
  }
}

.card__page {
  border: var(--main-border);
  margin-bottom: 50px;
}

.memory__section {
  margin-bottom: 100px;
}

@media (width >= 375px) {
  .card {
    width: 21px;
    height: 21px;
  }  
}

.card__text-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #fff;
  padding: 25px;
  border-top: 1px solid #000;
}

.card__text {
  background-color: #fff;
  font-weight: var(--text-weight);
  font-size: 18px;
  line-height: 21px;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card__icon-button {
  background: transparent;
  border: none;
}

.like-icon:focus-visible {  
  border: none;
  outline: var(--main-border);
  transition: 0.3s ease;
}

.card__like-button {
  background: transparent;
  border: var(--main-border);
  padding: 12.5px 35px;
  font-size: 14px;
  line-height: 90%;
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  cursor: pointer;
}

.card__like-button:active {
  inline-size: 100px;
}

.buttons {
  background-image: linear-gradient(90deg, black 0, black 50%, white 50%, white 100%);
  background-size: 200%;
  background-position-x: 100%;
  transition: 0.5s ease;
}

.buttons:hover {
  background-position-x: 0;
  color: #fff;
}

.buttons:focus-visible {
  outline: none;
  box-shadow: 2px 2px #000;
  transition: 0.3s ease;
}

.like-icon {
  cursor: pointer;
}

.dialog[open] {
  animation: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 341px;
  width: clamp(21.313rem, 20.472rem + 3.64vw, 22.063rem);
  padding: 30px 30px;

  @media (width <= 375px) {
    padding: 30px 40px;
  }
}

.dialog[open] .dialog__flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__svg {
  flex-shrink: 0;
}

.dialog::backdrop {
  backdrop-filter: blur(5px);
}

.memory__title {
  background-color: #fff;
  width: 82%;
  max-width: 335px;
  margin: auto;
  gap: 10px;
  display: flex;  
  flex-direction: row;
  align-items: center;
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  font-size: 14px;
  line-height: 90%;
  white-space: nowrap;
  border: var(--main-border);
  cursor: pointer;
  transition: 0.5s ease;
  padding: 15px 15px;
  block-size: 55px;

  @media (width <= 375px) {
    flex-direction: column;
    block-size: 84px;
    gap: 8px;
  }
}

.popup__text {
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.close__popup {
  border: var(--main-border);
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  background-color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

/* svg__like animations*/

.heart {
  transform-origin: 10px;
}

.sparks {
  opacity: 0;
}

.core {
  transition: 0.33s ease-in;
}

.main-body {
  transition: 0.3s ease-in;
}

.card__icon-button:hover .core {
  transition: 0.3s ease-in;
  fill: var(--core-color);
}

.card__icon-button:hover .main-body {
  transition: 0.35s  ease-in;
  fill: var(--main-body-color);
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in;
}

.like-icon.is-liked .core {
  transition: 0.3s ease-in;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition: 0.5s ease-in;
  fill: var(--animation-fill-color);
} 

.like-icon.is-liked .contour {  
  transition: 1.5s ease-in;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s ease-in;
  animation-delay: 0.3s;
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body{
  fill: var(--animation-fill-color);
}

.like-icon:active .core{
  transition: 0.3s ease;
  fill: var(--animation-fill-color);
}

/* разобраться с кнопкой лайка и текстом в диалоговом окне*/







