/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --title-weight: 700px;
  --text-weight: 400px;
  --text-font-size: 18px;
  --accent-font: 'PressStart2P', sans-serif;
  --main-font: 'Inter', sans-serif; 
  --main-border: 2px solid #000;
  --main-section-gap: 50px;
  --section-title-gap: 10px;
  --paragraph-gap: 25px;
  --bg-image: repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(180deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px), linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --contour-color: #000;
  --animation-fill-color: red;
  --core-color: #000;
  --main-body-color: #000;
}